// Файл обнуляющих стилей
@import "zero.scss";

body{background-color: black;}
.container {
    padding-top: 100px;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    perspective: 500px;
    
}

.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;

}

.side {
    position: absolute;
    width: inherit;
    height: inherit;
    border: 5px solid white;
    color: white;
    font-size: 70px;
    line-height: 300px;
    text-align: center;
}

.front {
    transform: translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px) ;
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom {transform: rotateX(-90deg) translateZ(150px)}

